// color-palette: #F2F2F2, #BF6F6F, #BBBBBB, #A43232, #252525, #A91526;
//General
$bg-body:#A43232;
$text-white: #FFFFFF;
$text-hover:#E03C48;
$text-boder-text: #E03C48;
$text-hint: rgba(255, 255, 255, 0.1);
$text-red: #E03C48;
//animation1
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 0.7s ease-out forwards;
}

.fade-in:nth-child(1) {
    animation-delay: 0.1s;
}

.fade-in:nth-child(2) {
    animation-delay: 0.35s;
}

.fade-in:nth-child(3) {
    animation-delay: 0.55s;
}
.fade-in:nth-child(4) {
    animation-delay: 0.75s;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
//animation2
.float {
    display: inline-block;
    animation: float 5s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(10px, -10px); /* Di chuyển lên và sang phải */
    }
    50% {
        transform: translate(0, -20px); /* Di chuyển lên */
    }
    75% {
        transform: translate(-10px, -10px); /* Di chuyển lên và sang trái */
    }
    100% {
        transform: translate(0, 0); /* Quay về vị trí ban đầu */
    }
}

//animation3


//Header
$text-header: #F2F2F2;
$bg-header:#A43232;
$boder-header-active: #333;

//product
$text-in-item:#F2F2F2;
$item-boder: #F2F2F2;
$text-in-pagiation: #333;
$bg-pagination: #F2F2F2;
$bg-pg-hover-active:#BBBBBB;


//order
$order-text-hint:rgba(255, 255, 255, 0.1);
$order-bg-input: #333;
$order-text-header: #F2F2F2;
$order-bg-product-table:#F2F2F2;

//user profile
$user-text-header:#F2F2F2;
$user-bg-form:#333;




$shopapp-color: #730710;
$shopapp-tint-color: #440506;
$shopapp-title-color: #E03C48;
$shopapp-background-color: #A91526;

$white: #ffffff;
$background-select-color: #333;
$rating: #FFD700;
