@import '../../../styles/shared-styles.scss';

nav .pagination .page-item .page-link {
  background-color: $bg-pagination;
  color: $text-in-pagiation;
  border: none;
  font-weight: bold;
}

nav .pagination .page-item .page-link:hover {
  background-color: $bg-pg-hover-active;
}

nav .pagination .page-item .page-link.active {
  background-color: $bg-pg-hover-active !important;
}

.btn.btn-primary {
  margin-left: 10px;
}

/* Custom table styles */
table.table {
  border-collapse: collapse;

  tr {
    border-bottom: none;
  }

  th, td {
    border-top: none;
    border-bottom: none;
  }
}

/* Tùy chỉnh cho biểu tượng menu và popup */
.popup-menu {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 5px;
  z-index: 10;
}

.popup-menu button {
  margin-bottom: 5px;
}

.popup-menu button:last-child {
  margin-bottom: 0;
}

.btn-secondary {
  font-size: 18px;
  padding: 5px 10px;
}
