@import "../../styles/shared-styles.scss";
.nav-item {
  position: relative;

  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 9999999999;
    display: none;
    color: #fff;
    background-color:#fff;
    border: 1px solid #fff;
    border-radius: 0.5rem;
    min-width: 150px;

    li {
      padding: 8px 12px;
      background-color: #fff;
      cursor: pointer;

      &:hover {
        background-color:#fff;
        color: #fff;
      }
    }
  }

  &:hover .dropdown-menu {
    display: block;
  }
  .dropdown-item{
    background-color: #fff;
  }
}
