@import "../../styles/shared-styles.scss";
.nav-item {
  position: relative;

  div[ngbDropdown] {
    position: relative;

    ul[ngbDropdownMenu] {
      position: absolute;
      top: calc(100% + 5px); // Đặt dropdown cách một khoảng nhỏ bên dưới
      left: 0;
      z-index: 9999;
      display: none; // Mặc định ẩn dropdown
      color: #000;
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 0.5rem;
      min-width: 150px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

      li {
        padding: 8px 12px;
        background-color: #fff;
        cursor: pointer;
        &:hover {
          background-color: #c2c2c2;
          color: #212529;
        }
      }
    }

    &.open ul[ngbDropdownMenu] { 
      display: block; // Hiển thị dropdown khi có class open
    }
  }
}

header {
  overflow: visible; // Đảm bảo phần header không bị cắt khi dropdown xuất hiện
}
