<div class="container-fluid">
  <h1 class="fw-bold display-2">Thống kê</h1>


  <!-- Cards -->
  <div class="row mt-4">
    <div class="col-md-4">
      <div class="card text-center bg-info text-white">
        <div class="card-body">
          <h5 class="card-title">Total Sales</h5>
          <p class="card-text display-5">{{ totalSales | currency:'VND' }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-center bg-primary text-white">
        <div class="card-body">
          <h5 class="card-title">Total Orders</h5>
          <p class="card-text display-5">{{ totalOrders }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-center bg-success text-white">
        <div class="card-body">
          <h5 class="card-title">Total Accounts</h5>
          <p class="card-text display-5">{{ totalAccounts }}</p>
        </div>
      </div>
    </div>
  </div>

  <p class="display-6 mt-5 fw-bold">Doanh thu 3 năm gần nhất</p>
  <canvas #salesChart></canvas>
  <div>
    <p class="display-6 mt-5 fw-bold">Top 5 sản phẩm bán chạy nhất</p>
    <canvas #topProductsChart></canvas>
  </div>
  
</div>
