@import "../../styles/shared-styles.scss";

.intro-section {
    background-color: rgba(255,255,255 ,0.2);
    backdrop-filter: blur(10px);
    border-radius: 50px;
    text-align: center;
    color: white;
    padding: 20px;
}

.img-landing{
    height: 300px;
    width: 300px;
}

.search-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}


.product-category {
    width: 200px;
}

.search-input {
    width: 300px;
    margin-right: 10px;
    border-color: rgba(255, 255, 255, 0.5);
    color: white;
}

.form-control {
    background-color: transparent;
    color: $text-white;
}

.form-control::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $text-hint;
    opacity: 1;
    /* Firefox */
}

.form-control:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $text-hint;
}

.form-control::-ms-input-placeholder {
    /* Microsoft Edge */
    color: $text-hint;
}

.row{
    width: 100%;
}
// .product-item {
//     height: 440px;
//     background-color: $item-boder;
//     border-radius: 20px;
//     padding: 20px;
//     margin: 0 0px 20px 20px;
// }
.product-item{
    height: 440px;
    background-color: rgba(255,255,255 ,0.3);
    backdrop-filter: blur(20px);
    padding: 20px;
    border-radius: 10px;
    margin: 0 0 20px 20px;
}

.product-image {
    // width: 100%;
    // max-height: 360px;
    // object-fit: cover;
    // margin-bottom: 10px;
    width: 100%; /* Đảm bảo ảnh chiếm toàn bộ chiều rộng */
    height: 266px; /* Đảm bảo tỷ lệ ảnh không bị méo */
    object-fit: cover; /* Cắt ảnh nếu cần để đảm bảo không bị vỡ tỷ lệ */
    margin-bottom: 10px;
}


.product-name {
    color: $text-in-item;
}

.product-description {
    color: rgb(173, 178, 203);
}

.product-warranty {
    color: rgb(242, 126, 212);
}

.product-price {
    color: $text-in-item;
}

.product-rating {
    color: $rating;
    margin-top: 10px;
}

.product-actions {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.space-x {
    margin: 0 5px;
    /*margin-top, margin-right, margin-bottom, margin-left*/
}
select.form-control.product-category {
    background-color: $background-select-color;
    color: $text-white;
    margin-right: 10px;
}

nav .pagination .page-item .page-link  {
    background-color: $bg-pagination;
    color:$text-in-pagiation;
    border: none;
    font-weight: bold;
    
}
nav .pagination .page-item .page-link:hover {
    background-color: $bg-pg-hover-active;
}
nav .pagination .page-item .page-link.active {
    background-color: $bg-pg-hover-active !important;
}