<<<<<<< HEAD
// src/styles/variables.scss
$text-white: #ffffff;
$user-text-header: #333333; // Ví dụ về một biến màu khác
=======
@import '../src/app/styles/shared-styles.scss';

/* Custom scrollbar cho toàn trang */
::-webkit-scrollbar {
  width: 12px; /* Chiều rộng của scrollbar */
}
::-webkit-scrollbar-thumb {
  background-color: #717171; /* Màu thanh cuộn */
  border-radius: 4px; /* Bo góc */
}
::-webkit-scrollbar-thumb:hover {
  background-color: $bg-body; /* Màu thanh cuộn khi hover */
}
::-webkit-scrollbar-track {
  background: #bbb; /* Màu nền của scrollbar */
  border-radius: 5px;
}
>>>>>>> 794ea6bae1dbfb02bc3943e811535d2c2a099ab8
